In [23]:
import sqlalchemy
import pandas as pd
from binance.client import Client

In [24]:
%run ./keys.ipynb

In [25]:
clinent = Client(api_key, api_secret)

In [26]:
engine = sqlalchemy.create_engine('sqlite:///BTCUSDTstream.db')

In [27]:
df = pd.read_sql('BTCUSDT', engine)

In [28]:
df = pd.read_sql('BTCUSDT', engine)

In [29]:
df

     symbol                    time     price
0   BTCUSDT 2023-07-06 17:51:25.414  30262.90
1   BTCUSDT 2023-07-06 17:51:25.439  30262.89
2   BTCUSDT 2023-07-06 17:51:25.865  30262.89
3   BTCUSDT 2023-07-06 17:51:25.865  30262.89
4   BTCUSDT 2023-07-06 17:51:27.589  30262.89
..      ...                     ...       ...
86  BTCUSDT 2023-07-06 17:51:43.910  30262.89
87  BTCUSDT 2023-07-06 17:51:43.910  30262.89
88  BTCUSDT 2023-07-06 17:51:43.910  30262.89
89  BTCUSDT 2023-07-06 17:51:43.913  30262.89
90  BTCUSDT 2023-07-06 17:51:43.914  30262.89

[91 rows x 3 columns]